@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800); /* Open sans font */

* {
    outline:0;
    padding: 0;
    margin:0;
}

body{
	background: #fff;
	color:#60606e;
	font-family: "Open sans", sans-serif;
    font-size: 14px;
    
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

a {
	color:#60606e;
    text-decoration: none;
}

p {
    font-family: "Open sans", sans-serif;
    line-height: 30px;
}

img {
    width: 100%;
}

.first-level li {
    float: left;
    margin-right: 20px;
    position: relative;
    list-style: none;
}

.first-level a {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;

    display: inline-block;
    line-height: 100px;
    position: relative;
    -webkit-transition: none;
    transition: none;
}

.first-level a:before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;

    background-color: #60606e;
    opacity: 0;

    position: absolute;
    top: 35%;
    left: 0;
    z-index: 1;

    transition: opacity .3s linear;
}

.first-level a:hover {
	color:#60606e;
}

.first-level a:hover:before,
.first-level a:active:before {
    opacity: 1;
}

.first-level a:active {
	color:#60606e; 
}

.main-header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    float: left;
    height: 100px;
    line-height: 100px;
}

.menu {
    float: right;
}

.desktop-nav {
    float: left;
}

.site-hero {
    width: 100%;
    height: 850px;
    
    background: #fff url('../img/site-hero.jpg') no-repeat;
    position: relative;
    background-size: cover;

    overflow: hidden;
}

.site-hero p {
    width: 50%;
    margin: 0 auto;
    color: #60606e;
}

.small-title {
    padding: 7px 12px;
    background-color: #7beec7;
    display: inline-block;

    text-transform: uppercase;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.slides {
    height: 450px;
    width: 100%;
    text-align: center;
    top: 200px;
}

.big-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    text-transform: uppercase;

    border: solid 10px #60606e;
    font-size: 48px;
    color: #60606e;
    padding: 10px 40px;
    display: inline-block;
    margin-bottom: 30px;
}

.agency {
    width: 100%;
    height: auto;
    float: left;
    margin-top: -300px;

    display: flex;
}

.agency img {
    max-height: 400px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.history-1 {
    width: 41.66666667%;
    padding: 0 15px;
    float: left;
}

.history-2 {
    margin-left: 8.33333333%;
    width: 50%;
    float: left;
}

.section-title {
    text-align: left;
    width: 100%;
    margin: 0 auto 30px;
}

.row:before {
    content: "";
    display: table;
}