@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800); /* Open sans font */

* {
    outline:0;
    padding: 0;
    margin:0;
}

body{
	background: #fff;
	color:#60606e;
	font-family: "Open sans", sans-serif;
    font-size: 14px;
    
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

a {
	color:#60606e;
    text-decoration: none;
}

.first-level li {
    float: left;
    margin-right: 20px;
    position: relative;
    list-style: none;
}

.first-level a {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;

    display: inline-block;
    line-height: 100px;
    position: relative;
    -webkit-transition: none;
    transition: none;
}

.first-level a:before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;

    background-color: #60606e;
    opacity: 0;

    position: absolute;
    top: 35%;
    left: 0;
    z-index: 1;

    transition: opacity .3s linear;
}

.first-level a:hover {
	color:#60606e;
}

.first-level a:hover:before,
.first-level a:active:before {
    opacity: 1;
}

.first-level a:active {
	color:#60606e; 
}

.main-header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.container {
    width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    float: left;
    height: 100px;
    line-height: 100px;
}

.menu {
    float: right;
}

.desktop-nav {
    float: left;
}