@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800); /* Open sans font */

* {
    outline:0;
    padding: 0;
    margin:0;
}

body{
	background: #fff;
	color:#60606e;
	font-family: "Open sans", sans-serif;
    font-size: 14px;
    
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
	color:#60606e;
    text-decoration: none;
}

p {
    font-family: "Open sans", sans-serif;
    line-height: 30px;
}

img {
    width: 100%;
}

section {
    margin-top: 150px;
}

.first-level li {
    float: left;
    margin-right: 20px;
    position: relative;
    list-style: none;
}

.first-level a {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;

    display: inline-block;
    line-height: 100px;
    position: relative;
    -webkit-transition: none;
    transition: none;
}

.first-level a:before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;

    background-color: #60606e;
    opacity: 0;

    position: absolute;
    top: 35%;
    left: 0;
    z-index: 1;

    transition: opacity .3s linear;
}

.first-level a:hover {
	color:#60606e;
}

.first-level a:hover:before,
.first-level a:active:before {
    opacity: 1;
}

.first-level a:active {
	color:#60606e; 
}

.main-header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.logo {
    float: left;
    height: 100px;
    line-height: 100px;
}

.menu {
    float: right;
}

.desktop-nav {
    float: left;
}

.site-hero {
    height: 850px;
    width: 100%;
    background: #fff url(../img/site-hero.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.site-hero p {
    width: 50%;
    margin: 0 auto;
    color: #60606e;
}

.small-title {
    color: #60606e;
    padding: 7px 12px;
    background-color: #7beec7;
    display: inline-block;

    text-transform: uppercase;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.big-title {
    font-size: 48px;
    color: #60606e;
    padding: 10px 40px;
    border: solid 10px #60606e;
    display: inline-block;
    margin-bottom: 30px;

    text-transform: uppercase;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.slides {
    height: 450px;
    width: 100%;
    position: absolute;
    top: 100px;
}

.slides li {
    width: 100%;
    float: left;
    margin-right: -100%;
    position: relative;
    display: block;
    z-index: 2;
    top: 100px;

    text-align: center;
}

.agency {
    width: 100%;
    height: auto;
    float: left;
    margin-top: -300px;

    display: flex;
}

.agency img {
    max-height: 400px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.history-1 {
    width: 41.66666667%;
    padding: 0 15px;
    float: left;
    position: relative;
}

.history-2 {
    margin-left: 8.33333333%;
    width: 50%;
    float: left;
    position: relative;
    padding: 0 15px;
}

.history-2 a {
    float: right;
    margin-top: 70px;
    background-color: #7beec7;
    color: #fff;
    height: 50px;
    line-height: 50px;
    width: 150px;
    text-align: center;
    transition: 0.5s;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    padding: 0;
    border-radius: 0;
}

.history-2 a:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
}

.section-title {
    text-align: left;
    width: 100%;
    margin: 0 auto 30px;
}

.section-title span {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    color: #60606e;
    font-size: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.section-title:before {
    content: "";
    display: block;
    width: 60px;
    height: 22px;
    background-color: #7beec7;
    position: absolute;
    top: 18px;
}

.section__title {
    text-align: center;
    width: 60%;
    margin: 0 auto 30px;
}

.section__title span {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    color: #60606e;
    font-size: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.section__title span:before {
    content: "";
    display: block;
    width: 60px;
    height: 22px;
    background-color: #7beec7;
    position: absolute;
    top: 18px;
    z-index: -1;
}

.services__display {
    display: flex;
}

.services-1 {
    width: 58.33333333%;
    float: left;
    padding: 0 15px;
    margin-top: 80px;
}

.services-2 {
    padding: 0 15px;
    margin-top: 80px;
}

.services-2 img {
    width: 100%;
}

.services__row {
    width: 50%;

    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.services__row span {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;

    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.services__row li {
    line-height: 30px;
    color: #999999;
    list-style: none;

    text-transform: uppercase;
}

.icon-1 {
    display: block;
    width: 30px;
}
